.wpsaio,.wpsaio *,.wpsaio :after,.wpsaio :before{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.wrap-content-box,.wrap-content-box *,.wrap-content-box :after,.wrap-content-box :before{-webkit-box-sizing:content-box;box-sizing:content-box}.wpsaio-row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 -10px}.wpsaio-col-main,.wpsaio-col-right{max-width:100%;padding:0 10px}.wpsaio-col-main{-webkit-box-flex:1;-ms-flex:1;flex:1}.wpsaio-col-right{-webkit-box-flex:0;-ms-flex:none;flex:none;width:308px}.wpsaio-postbox{background-color:#fff;border:1px solid #c3c4c7;border-radius:4px;margin:20px 0;padding:20px}#informationdiv{margin-top:55px}.wpsaio-postbox h3{margin-top:0}.wpsaio-postbox p:last-child{margin-bottom:0}.wp_saio_panel_wrap{margin-top:-5px;margin-bottom:25px}.wp_saio_panel_btn-wrap{margin-top:60px}.wp_saio_panel_btn-wrap .button{align-items:center;-webkit-box-align:center;-webkit-box-pack:center;-webkit-box-sizing:border-box;box-sizing:border-box;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;-ms-flex-pack:center;font-weight:700;height:42px;justify-content:center;min-width:162px}@-webkit-keyframes rotate360{to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes rotate360{to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.wp_saio_panel_btn-wrap i{-webkit-animation:rotate360 1s linear infinite both;animation:rotate360 1s linear infinite both;display:none;margin-left:8px}.button.wpsaio-saving{cursor:not-allowed}.button.wpsaio-saving:active,.button.wpsaio-saving:focus,.button.wpsaio-saving:hover{background:#2271b1;border-color:#2271b1;-webkit-box-shadow:none;box-shadow:none;color:#fff;outline:none}.wpsaio-saving i{display:inline-block}.wp-saio-wrap .wp_saio_panel_wrap:after{clear:both;content:" ";display:table}.wp-saio-wrap .wp_saio_panel_wrap>.wp-saio-app{float:left;margin:5px 10px 5px 0;position:relative}.wp-saio-wrap .wp_saio_panel_wrap>.wp-saio-app.added:after{background-color:rgba(0,0,0,0)}.wp-saio-wrap .wp_saio_panel_wrap>.wp-saio-app img{display:block;height:26px;width:26px}.wp-saio-app>a:focus{-webkit-box-shadow:none;box-shadow:none;outline:medium none}.wpsaio-app-input-wrap{-ms-flex-align:start;align-items:flex-start;-webkit-box-align:center;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-align:center;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:-5px 0 35px}.wpsaio-app-input-wrap>div{margin:5px 10px}.wpsaio-app-input-wrap.wpsaio-sort-ghost,.wpsaio-sort-drag .wp-saio-input-wrap,.wpsaio-sort-drag .wpsaio-handler-remove{opacity:0}.wpsaio-input-content{-webkit-box-align:center;-webkit-box-flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex:1;flex:1;-ms-flex-align:center;-ms-flex-wrap:wrap;flex-wrap:wrap}.wpsaio-app-input-wrap.app_off{display:none}.wp_saio_fields_wrap{position:relative}.wpsaio-app-input-wrap .wp-saio-title{font-size:14px;font-weight:700;margin-left:20px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:120px}.wpsaio-btn-move{cursor:pointer;display:inline-block;height:20px;margin:0px 2px 0;width:35px;transition: transform 0.5s ease-in-out;margin-left:10px;}.wpsaio-btn-move img{height:25px;width:25px}#wpsaio-switch:checked+label.green{background:#8fcae5}#wpsaio-switch:checked+label.green:after{background:#2271b1}#wpsaio-switch:checked+label:after{left:calc(100% - 18px)}#wpsaio-switch+label{background:#ddd;border-radius:20px}#wpsaio-switch+label:after{background:#fff;border-radius:50%;height:16px;left:2px;top:2px;width:16px}.wpsaio-switch-control input[type=checkbox]{display:none}.wpsaio-switch-control input[type=checkbox]+label{-webkit-box-sizing:border-box;box-sizing:border-box;display:inline-block;height:20px;position:relative;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;width:40px}.wpsaio-switch-control input[type=checkbox]+label:after,.wpsaio-switch-control input[type=checkbox]+label:before{content:"";cursor:pointer;display:block;left:2px;position:absolute;top:2px;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}.wpsaio-switch-control input:checked+label.green{background:#8fcae5}.wpsaio-switch-control input:checked+label.green:after{background:#2271b1}.wpsaio-switch-control input:checked+label:after{left:calc(100% - 18px)}.wpsaio-switch-control input+label{background:#ddd;border-radius:20px}.wpsaio-switch-control input+label:after{background:#fff;border-radius:50%;height:16px;width:16px}.wpsaio-save-loading{-webkit-animation:rotation 2s linear infinite;animation:rotation 2s linear infinite;vertical-align:middle}.nta-tab-wrapper{border-bottom:1px solid #ccc!important}.nta-tab-wrapper .nav-tab-active{border-bottom:1px solid #fff}ul.nta-tab-wrapper li{margin:0}ul.nta-tab-wrapper .nav-tab{background:#fff}.nta-selected-tab,ul.nta-tab-wrapper li:first-child .nav-tab{margin-left:0}.nta-tabs-content{background:#fff;border:1px solid #dfdfdf;border-top:none;padding:20px}.nta-wa-pages-content{padding-top:20px!important}#nta-wa-pages-checkall-hide,#nta-wa-pages-checkall-show{margin-left:16px}#nta-wa-display-pages-list{background:#fff;border:1px solid #dfdfdf;max-height:150px;overflow-y:scroll;padding:15px}.hide-select{display:none!important}.wp-saio-tab-wrap{margin:20px 0}.njt-nav-tabs{display:block;list-style:none;margin:0 0 -1px;padding:0}.njt-nav-item{display:inline-block;margin:0 8px 0 0}.njt-nav-link{background-color:hsla(0,0%,100%,.5);border:1px solid #c3c4c7;border-radius:4px 4px 0 0;color:#50575e;display:block;font-size:14px;font-weight:600;padding:8px 20px;text-decoration:none;-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s}.njt-nav-link svg{fill:currentColor;height:1em;margin-right:8px;margin-top:-2px;vertical-align:middle;width:1em}.njt-nav-link.njt-nav-link-active{border-bottom-color:rgba(0,0,0,0)}.njt-nav-link.njt-nav-link-active,.njt-nav-link:hover{background-color:#fff;color:#3c434a}.njt-nav-link:active,.njt-nav-link:focus,.njt-nav-link:hover{-webkit-box-shadow:none;box-shadow:none;outline:none}.njt-tab-content{background-color:#fff;border:1px solid #c3c4c7;border-radius:0 4px 4px 4px;display:block}.njt-tab-panel{display:none;padding:20px}.njt-tab-panel.njt-tab-active{display:block}.wp-saio-icon{align-items:center;background:none;border:0;border-radius:50%;-webkit-box-align:center;-webkit-box-pack:center;-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,.15);box-shadow:0 1px 5px 0 rgba(0,0,0,.15);display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;-ms-flex-pack:center;justify-content:center;padding:6px}.wp-saio-icon svg{fill:currentColor;height:16px;width:16px}.saio-btn-app{color:#333;cursor:pointer;display:-webkit-box;display:-ms-flexbox;display:flex;padding:10px;-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s}.saio-btn-app svg{height:26px;width:26px}.saio-btn-app:active,.saio-btn-app:focus,.saio-btn-app:hover{outline:none}.wp-saio-icon-facebook-messenger{background:-o-linear-gradient(bottom,#0078ff,#00c6ff);background:-webkit-gradient(linear,left bottom,left top,from(#0078ff),to(#00c6ff));background:linear-gradient(0deg,#0078ff,#00c6ff);background-color:#0078ff;color:#fff}.wp-saio-icon-whatsapp{background:#4ac959;color:#fff}.wp-saio-icon-snapchat{background:#fffc00;color:#fff}.wp-saio-icon-snapchat path{stroke:#000;stroke-width:30px}.wp-saio-icon-line{background:#00b900;color:#fff}.wp-saio-icon-viber{background:#665cac;color:#fff}.wp-saio-icon-phone{background:#ff5a00;color:#fff}.wp-saio-icon-email{background:#3968ff;color:#fff}.wp-saio-icon-telegram{background:-o-linear-gradient(left,#2aabee 0,#229ed9 100%);background:-o-linear-gradient(left,#2aabee,#229ed9);background:-webkit-gradient(linear,left top,right top,from(#2aabee),to(#229ed9));background:linear-gradient(90deg,#2aabee,#229ed9);background-color:#229ed9;color:#fff}.wp-saio-icon-skype{background:#00aff0;color:#fff}.saio-btn-app.disabled{background:#c6ced3!important;-webkit-box-shadow:none;box-shadow:none;color:#fff}.saio-btn-app.disabled:hover{background:#a9b6be!important}.saio-btn-app.disabled.wp-saio-icon-snapchat path{stroke:none}.wpsaio-handler-sort{-ms-flex-align:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:0;-ms-flex:none;flex:none;position:relative}.handler-sort,.wpsaio-handler-sort{-webkit-box-align:center;align-items:center}.handler-sort{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;height:20px;-ms-flex-align:center;cursor:-webkit-grab;cursor:grab}.handler-sort:active{cursor:-webkit-grabbing;cursor:grabbing}.saio-icon-sort,.saio-icon-sort:after,.saio-icon-sort:before{background-color:#7f8488;display:block;height:2px;left:0;right:0;width:18px}.saio-icon-sort{margin-right:10px;opacity:.5;position:relative;-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s}.saio-icon-sort:after,.saio-icon-sort:before{content:"";position:absolute}.saio-icon-sort:before{bottom:5px}.saio-icon-sort:after{top:5px}.handler-sort:hover .saio-icon-sort{opacity:1}.saio-input{position:relative}#wp-saio-custom-app-title-input,.saio-input input{border-color:#d6d8d9;border-radius:3px;height:34px;margin:0;outline:none;padding:0 10px;-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s}#wp-saio-custom-app-title-input{margin-left:20px}#wp-saio-custom-app-title-input:focus,.saio-input input:focus{outline:none}.saio-input-hint{color:#a0a0a0;font-size:12px;left:0;margin-top:5px;position:absolute;top:100%}.wpsaio-handler-remove{background-color:#ef4444;border-radius:50%;-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,.15);box-shadow:0 1px 5px 0 rgba(0,0,0,.15);color:#fff;cursor:pointer;margin-left:15px;opacity:0;-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s}.wpsaio-input-content:hover .wpsaio-handler-remove{opacity:1}.wpsaio-handler-remove:hover{background-color:#f87171}.toplevel_page_wp-support-all-in-one .wp-menu-image img{opacity:1!important}.saio-custom-app-upload-icon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:35px 0}.saio-custom-app-upload-icon-btn{margin-left:5px!important;padding:2px 10px!important}@media (max-width:991px){.wpsaio-col-main,.wpsaio-col-right{-webkit-box-flex:0;-ms-flex:none;flex:none;width:100%}.wpsaio-col-main{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.wpsaio-col-right{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}

.wp-saio-icon-zalo {
    background: #00B1FF;
    color: #fff;
}
.wp-saio-icon-kakaotalk {
    background: yellow;
    color: black;
}
.wp-saio-icon-wechat {
    background: green;
    color: white;
}

/*Delete Button*/
.wpsaio-btn-move:hover {
    transform: scale(1.2);
} 

/*Image in Icon App*/
[class*="wp-saio-icon-custom-app"]{
    background:#007cc4;
    color:#fff ;
}

.wpsaio-app-input-wrap [class*="wp-saio-icon-custom-app"]{
    width: 28px;
    height: 28px;
    align-items: initial;
}

.wpsaio-app-input-wrap [class*="wp-saio-icon-custom-app"] img {
    max-width: 15px;
}
    
.wpsaio-app-input-wrap[data-appname="custom-app"] .wpsaio-btn-move {
    display: none;
  }


/* Header */
.wpsaio-top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #e6e8eb;
    margin: -10px -20px 10px -20px;
}

.wpsaio-header-left {
    display: flex;
    align-items: center;
    gap: 12px
}

.wpsaio-header-logo img {
    height: 60px;
    width: auto;
    display: block
}

.wpsaio-top-header h1.wpsaio-header-title {
    font-size: 20px;
    font-weight: 500;
    color: #1d2327;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.wpsaio-header-actions {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-right: 20px
}

@media only screen and (max-width: 768px) {
    .wpsaio-top-header h1.wpsaio-header-title {
        font-size:16px
    }
}

@media only screen and (max-width: 568px) {
    .wpsaio-top-header {
        padding:10px 15px
    }

    .wpsaio-header-left {
        gap: 8px
    }

    .wpsaio-header-logo img {
        height: 28px
    }

    .wpsaio-header-title {
        font-size: 14px
    }

    .wpsaio-header-actions {
        gap: 12px
    }
}
/* Button */
.wpsaio-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    height: 32px;
    padding: 0 12px;
    border: 1px solid #e2e8f0;
    background-color: #fff;
    transition: all .15s ease;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    cursor: pointer
}

.wpsaio-btn,.wpsaio-btn:hover {
    color: #0f172a;
    text-decoration: none
}

.wpsaio-btn:hover {
    background-color: #f8fafc;
    border-color: #cbd5e1
}

.wpsaio-btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px rgba(59,130,246,.1)
}

.wpsaio-btn:active {
    transform: scale(.98)
}

.wpsaio-btn-xs {
    height: 22px;
    padding: 0 6px;
    line-height: 22px;
    font-size: 10px
}

.wpsaio-btn-sm {
    height: 28px;
    font-size: 12px;
    padding: 0 10px
}

.wpsaio-btn-lg {
    height: 40px;
    font-size: 14px;
    padding: 0 16px
}

@media only screen and (max-width: 768px) {
    .wpsaio-btn {
        font-size:12px;
        height: 28px;
        padding: 0 10px
    }
}

@media only screen and (max-width: 568px) {
    .wpsaio-btn {
        font-size:11px;
        height: 26px;
        padding: 0 8px
    }
}

.wpsaio-toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(150%);
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 14px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999999;
    font-size: 14px;
    font-weight: 500;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
    opacity: 0;
}

.wpsaio-toast-show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.wpsaio-toast-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.wpsaio-toast-message {
    line-height: 1.5;
    flex: 1;
}

.wpsaio-toast-close {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    border-radius: 4px;
    flex-shrink: 0;
    width: 10px;
    height: 10px;
}

.wpsaio-toast-close:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
}

.wpsaio-toast-close:active {
    transform: scale(0.95);
}

.wpsaio-toast-close svg {
    display: block;
}

/* Toast Types */
.wpsaio-toast-success {
    background-color: #2c2c2c;
}

.wpsaio-toast-error {
    background-color: #dc2626;
}

.wpsaio-toast-info {
    background-color: #2563eb;
}

@media only screen and (max-width: 568px) {
    .wpsaio-toast {
        min-width: calc(100% - 40px);
        max-width: calc(100% - 40px);
        font-size: 13px;
        padding: 12px 20px;
    }
}
/* Footer */
.wpsaio-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #f5f5f5;
    padding: 4px 10px;
    z-index: 9999;
    left: auto;
    border-top: 1px solid #ddd;
    width: calc(100% - 160px);
    display: flex;
    justify-content: flex-end;
  }
  
  .wpsaio-footer-review-text a {
    color: #0073aa;
    text-decoration: none;
  }
  
  .wpsaio-footer-review-text a:hover {
    color: #00a0d2;
    text-decoration: none;
  }
  
  /* Responsive */
  @media only screen and (max-width: 782px) {
    .wpsaio-footer {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 783px) and (max-width: 960px) {
    .wpsaio-footer {
      width: calc(100% - 36px);
    }
  }
  #my-tooltip {
    z-index: 999999;
  }
  /* .wp-saio-svg-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .wp-saio-icon-facebook-messenger .wp-saio-svg-icon {
    background-image: url(../../home/images/facebook-messenger.svg);
  }
  .wp-saio-icon-whatsapp .wp-saio-svg-icon {
    background-image: url(../../home/images/whatsapp-logo.svg);
  }
  .wp-saio-icon-snapchat .wp-saio-svg-icon {
    background-image: url(../../home/images/snapchat-stroke-none.svg);
  }
  .wp-saio-icon-line .wp-saio-svg-icon {
    background-image: url(../../home/images/line-logo.svg);
  }
  .wp-saio-icon-viber .wp-saio-svg-icon {
    background-image: url(../../home/images/viber.svg);
  }
  .wp-saio-icon-phone .wp-saio-svg-icon {
    background-image: url(../../home/images/phone-receiver.svg);
  }
  .wp-saio-icon-email .wp-saio-svg-icon {
    background-image: url(../../home/images/close-envelope.svg);
  }
  .wp-saio-icon-telegram .wp-saio-svg-icon {
    background-image: url(../../home/images/telegram.svg);
  }
  .wp-saio-icon-zalo .wp-saio-svg-icon {
    background-image: url(../../home/images/zalo.svg);
  }
  .wp-saio-icon-kakaotalk .wp-saio-svg-icon {
    background-image: url(../../home/images/kakaotalk.svg);
  }
  .wp-saio-icon-wechat .wp-saio-svg-icon {
    background-image: url(../../home/images/wechat.svg);
  }
  .wp-saio-icon-custom-app .wp-saio-svg-icon {
    background-image: url(../../home/images/custom-app.svg);
  } */