
.category{
    border: 1px solid #eee;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.category_type{
    height: 50px;
}

.category_type h4{
    padding: 0;
    margin: 0;
}

.category .category_icon{
    height: 50px;
    width: 50px;
    background: #eee;
    position: relative;
    margin-right: 10px;
    border-radius: 50%;
}

.category .category_icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.category:hover .category_type h4{
    color: #000;
    cursor: pointer;
}
.category:hover .category_type span{
    /* color: #63ba16; */
}
