#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
#cssmenu {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
  border-radius: 2px !important;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}

#cssmenu > ul > li {}

#cssmenu > ul > li > a {
    padding: 11px 20px;
    /* border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-top: 1px solid #a6a6a6!important; */
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #666666;
    border-left:  3px solid transparent !important;
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35)!important;
    background: #cccccc;
    background: -webkit-linear-gradient(#cccccc, #bfbfbf)!important;
    background: -moz-linear-gradient(#cccccc, #bfbfbf)!important;
    background: -o-linear-gradient(#cccccc, #bfbfbf)!important;
    background: -ms-linear-gradient(#cccccc, #bfbfbf)!important;
    background: linear-gradient(#cccccc, #bfbfbf)!important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15)!important; */
}

#cssmenu > ul > li > a > i {
  width: 26px;
  /* margin-right: 10px; */
  font-size: 20px;
  color: #d2d2d2;
}


#cssmenu > ul > li.active > a {
  font-weight: bold;
  color: #666;
}
#cssmenu > ul > li > a:hover {
    background: #ededed;

}
#cssmenu > ul > li.open > a {
    /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #a6a6a6; */
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  /* border-bottom: 1px solid #1682ba; */
}
#cssmenu .title {
  font-size: 18px;
  color: #454545;
  font-weight: bold;
  padding:  20px 20px;
  margin:  0;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: -2px;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #666666;
  border-left: 2px solid #666666;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #666666;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#cssmenu ul ul li a {
  cursor: pointer;
/*   border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e; */
  padding: 10px 20px 10px 25px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #666666;
/*   background: #49505a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1)!important; */
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: #ededed;
  color: #666666;

}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1)!important;
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #666666!important;
}
