.employer_intro{

}
.employer_intro .employer_details_wrapper{
  background: #eee;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employer_details_wrapper .employer_img{
  width: 15%;
}
.employer_details_wrapper .employer_details{
  min-height: 100px;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.employer_details_wrapper .employer_details .primary_intro{
  width: 70%;
}
.employer_details_wrapper .employer_details .employer_vacancy{
  width: 30%;
}
.employer_details_wrapper .employer_img img{
  width: 85px;
  height: 85px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.color-green{
  color: #63BA16;
}
.color-light{
  color: #9f9f9f;
  margin-left: 10px;
}

.employer_details .employer_vacancy .download_btn a{
  text-decoration: none;
  background: rgb(99, 186, 22);
  padding: 10px;
  border: rgb(99, 186, 22);
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
  color: #fff;
}
.employer_details .employer_vacancy .download_btn a:hover{
  background: #4B8C11;
}
.employer_details .employer_vacancy .fav_btn a{
  text-decoration: none;
  padding: 10px 10px;
  box-shadow: none;
  font-size: 14px;
  background: #A7A7A7;
  border-radius: 4px;
  margin-left: 4px;
  color: #000;
}
.employer_details .employer_vacancy .fav_btn a:hover{
  background: #FFB13C;
  color: #fff;
}
.employer_details .primary_intro .employer_name{
	font-size: 1.25em;
	font-weight: 600;
	margin-bottom: 10px;
}
.employer_details .primary_intro p{
  font-size: 14px;
}
.employer_details .primary_intro .employer_designation{
  margin-bottom: 9px;
}


/* for the company details section */
.company_details .company_desc{
  /* background: #eee; */
}
.company_details .company_desc .about_company{
  background: #eee;
  padding: 20px 20px;
}
.company_details .company_desc .about_company h4 {
	font-size: 1.125em;
	color: #383838;
	margin-bottom: 20px;
	font-weight: 600;
}
.company_details .company_desc .about_company p {
	font-size: 14px;
  color: #5D5D5D;
  line-height: 1.625;
}
.company_desc .open_positions h4{
	font-weight: 600;
	font-size: 1.125em;
	margin: 20px 0;
}
/* company description section */
.company_desc .open_positions_details{
  background: #eee;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company_desc .open_positions_details .context h4{
	font-size: 1.125em;
	color: #383838;
	font-weight: 600;
  margin-bottom: 10px;
}
.company_desc .open_positions_details .context h4 a{
  text-decoration: none;
  box-shadow: none;
  color: #383838;
}
.company_desc .open_positions_details .context h4 a:hover{
  color: #7ABA16
}
.company_desc .open_positions_details .context .posted_date{
  margin-bottom: 10px;
  color: #9f9f9f;
}
.company_desc .open_positions_details .context .job_meta{
  margin-bottom: 10px;
  color: #9f9f9f;
}
.company_desc .open_positions_details .apply_btn a{
  text-decoration: none;
  box-shadow: none;
  display: block;
  width: 120px;
  background: #D7D7D7;
  padding: 10px 15px;
  color: #9f9f9f;
}
.company_desc .open_positions_details .apply_btn a:hover{
  background: #D7D7D7;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .employer_intro .employer_details_wrapper{
    height: auto;
    padding: 20px 10px;
  }
  .employer_details_wrapper .employer_img{
    width: 35%;
  }
  .employer_details_wrapper .employer_details{
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  .employer_details_wrapper .employer_details .primary_intro{
    width: 100%;
  }
  .employer_details_wrapper .employer_details .employer_vacancy{
    width: 100%;
  }

}



@media (min-width: 320px) and (max-width: 480px) {
  .employer_intro .employer_details_wrapper{
    height: auto;
    flex-direction: column;
    padding: 30px 10px;
  }
  .employer_details_wrapper .employer_img{
    width: 35%;
    margin-bottom: 10px;
  }

  .employer_details_wrapper .employer_details{
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  .employer_details_wrapper .employer_details .primary_intro{
    width: 100%;
  }
  .employer_details_wrapper .employer_details .employer_vacancy{
    width: 100%;
  }

  .company_desc .open_positions_details{
    flex-direction: column;
    align-items: flex-start;
  }

}
