/*############# Top Section With Header and Search bar ############ */
.candidate_directory{
	font-size: 16px;
	font-weight: 400;
}
.candidate_directory p, .candidate_directory span, .candidate_directory input[type], .candidate_directory h4{
	font-size: 16px;
}
.candidate_directory a{
	text-decoration: none;
	color: inherit;
}
.candidate_directory .top_form{
	display: flex;
	justify-content: space-between;
}
.candidate_directory .input_box{
	width: 80%;
}
.candidate_directory .input_box input[type="text"]{
	width: 100%;
	height: 44px;
}
.candidate_directory .input_box input[type="text"]:focus{
	outline-color: #63ba16;
}
.candidate_directory .search_icon{
	width: 18%;
}

.candidate_directory .search_icon button{
	background-color: #63ba16;
	color: #fff;
	width: 44px;
	height: 44px;
	border-radius: 4px;
	border: none;
	padding: 0;
}

/*############# FILTERING SIDEBAR ############ */
#close_btn{
	position: absolute;
	top: -8px;
	right: -5px;
	height: 20px;
	width: 20px;
	font-size: 20px;
	line-height: 20px;
	background: #000;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	display: none;
}
.content_section{
	padding-top: 50px;
}
.content_section .filtering_sidebar{
	/* background: gray; */
}

.name_icon{
	position: relative;
}
.content_section .filtering_sidebar .icon input[type="text"]{
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 30px;
	z-index: -111111;
	/* transition: all 0.5s ease-in; */
}

.content_section .filtering_sidebar .icon{
	color: #63ba16;
	font-size: 20px;
	cursor: pointer;
}
.content_section .checklists{
	height: 200px;
	overflow-y: scroll;
	margin-top: 25px;
}
.content_section .checklists ul{
	margin: 0;
	padding: 0;
}
.content_section .checklists ul li{
	list-style: none;
	margin: 0;
}
/* checkb box */
.single_list input:checked{
  background-color: #63ba16;
}
.single_list input:checked ~ label{
	font-weight: 500;
}
.filtering_sidebar #categories{
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}
.filtering_sidebar #location{
	margin-top: 20px;
}

/*############# CUSTOM SCROLLBAR ############ */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px #63ba16;
}


/*############# CANDIDATE LIST ############ */
.filter_bar{
	background: #63ba16;
	height: 30px;
	border-radius: 4px;
	text-align: center;
	padding: 3px 0;
	cursor: pointer;
}
.candidate_list{
	/* border: 1px solid red; */
	z-index: 5;
}
.candidate_list .top_count{
	border-bottom: 1px solid #eee;
}
.candidate_list .top_rated button{
	background: transparent;
	color: #000;
}
.candidate_list .top_rated button:focus{
	outline: none;
	padding: 0;
	margin: 0;
}
.candidate_list .candidate{
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;
}
.candidate_list .candidate_img{
	width: 19%;
}
.candidate_list .candidate_desc{
	width: 78%;
}
.candidate_list .candidate_desc{
	display: flex;
	align-items: center;
}
.candidate_desc .candidate_details{
	width: 70%
}
.candidate_desc .candidate_profile{
	width: 30%;
}

.candidate_list .candidate_img a img{
	width: 85px;
	height: 85px;
	border-radius: 50%;
	background: #000;
}
.candidate_details .name{
	padding: 0;
	margin: 0;
}
.candidate_details .designation{
	padding: 0;
	margin: 0;
}
.candidate_details .designation i{
	color: #63ba16;
}
.candidate_details .address span{
	padding: 0;
	margin: 0;
}
.address span i{
	color: #9f9f9f;
}
.candidate_lists .candidate_profile{
	height: 30px;
}
.candidate_lists .candidate_profile a{
	display: block;
	height: 30px;
	padding: 3px 0;
	color: #9f9f9f;
	background-color: #f1f1f1;
	text-align: center;
	font-size: 16px;
}

.candidate_details .candidate_profile a:hover{
	background: #63ba16 !important;
	text-decoration: none;
}

.candidate_lists .candidate a:hover{
	text-decoration: none;
	color: #63ba16;
}
.candidate:hover .candidate_details .name{
	color: #63ba16;
}
.candidate:hover .candidate_profile a{
	background: #63ba16;
	color: #fff;
}

/*########### ALL FOR JAVASCRIPT SYNCRONIZATION ######### */
.show_searchbar{
	background-color: #63ba16;
	height: 30px;
}
.show_searchbar i{
		color: #000;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.candidate_directory{
		position: relative;
	}

	.content_section .filtering_sidebar .icon input[type="text"]{
		width: 100%;
	}
	.content_section{
		position: relative;
	}
	.content_section #sidebar{
		margin-left: -740px;
		transition: all 0.5s ease-in-out;
	}
}


@media (min-width: 320px) and (max-width: 480px) {
	.candidate_list .candidate{
		height: auto;
		padding: 10px 0;
	}
	.candidate_list .candidate_desc{
		flex-direction: column;
		align-items: flex-start;
	}
	.candidate_desc .candidate_details{
		width: 97%
	}
	.candidate_desc .candidate_profile{
		width: 50%;
		margin-bottom: 10px;
	}
	.content_section .filtering_sidebar .icon input[type="text"]{
		width: 100%;
	}
	.content_section #sidebar{
		margin-left: -340px;
		transition: all 0.5s ease-in-out;
	}
}
