@font-face {
  font-family: 'flaticon-category';
  src: url('../fonts/flaticon-category.eot?98261468');
  src: url('../fonts/flaticon-category.eot?98261468#iefix') format('embedded-opentype'),
       url('../fonts/flaticon-category.woff2?98261468') format('woff2'),
       url('../fonts/flaticon-category.woff?98261468') format('woff'),
       url('../fonts/flaticon-category.ttf?98261468') format('truetype'),
       url('../fonts/flaticon-category.svg?98261468#flaticon-category') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'flaticon-category';
    src: url('../fonts/flaticon-category.svg?98261468#flaticon-category') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "flaticon-category";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  /* width: 1em;
  margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-login:before { content: '\e800'; } /* '' */
.icon-messenger:before { content: '\e801'; } /* '' */
.icon-manager:before { content: '\e802'; } /* '' */
.icon-money-bag:before { content: '\e803'; } /* '' */
.icon-money:before { content: '\e804'; } /* '' */
.icon-open-book:before { content: '\e805'; } /* '' */
.icon-pie-chart:before { content: '\e806'; } /* '' */
.icon-quote:before { content: '\e807'; } /* '' */
.icon-resume:before { content: '\e808'; } /* '' */
.icon-review:before { content: '\e809'; } /* '' */
.icon-rocket:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-send:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e80d'; } /* '' */
.icon-stethoscope:before { content: '\e80e'; } /* '' */
.icon-target:before { content: '\e80f'; } /* '' */
.icon-test:before { content: '\e810'; } /* '' */
.icon-testimonial:before { content: '\e811'; } /* '' */
.icon-trash:before { content: '\e812'; } /* '' */
.icon-trophy:before { content: '\e813'; } /* '' */
.icon-turn-off:before { content: '\e814'; } /* '' */
.icon-bar-chart:before { content: '\e815'; } /* '' */
.icon-briefcase:before { content: '\e816'; } /* '' */
.icon-browser:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-circular:before { content: '\e819'; } /* '' */
.icon-curriculum:before { content: '\e81a'; } /* '' */
.icon-edit:before { content: '\e81b'; } /* '' */
.icon-favourite:before { content: '\e81c'; } /* '' */
.icon-food:before { content: '\e81d'; } /* '' */
.icon-graphic-design:before { content: '\e81e'; } /* '' */
.icon-home-outline:before { content: '\e81f'; } /* '' */
.icon-letter:before { content: '\e820'; } /* '' */