.fa{
    font: normal normal normal 14px/1 FontAwesome !important;
}
.orderby {visibility: hidden;}
.btn-added-favourites {
	background-color: #000;  
}
.btn-add-favourites {
	background: #9A9A9A;
}
.popup0margin{
	margin:0 0px;
}
.contact-form-none{
  display: none;
  z-index: 2147483647;
}
.bootstrap-wrapper{
    padding-bottom: 20px !important;
}
.whole-container, .whole-container h1,.whole-container h2,.whole-container h3,.whole-container h4,.whole-container h5,.whole-container h6,.whole-container p, .whole-container input[type], .whole-container textarea{
    font-family: inherit;
    color: #000;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.bottomline-parent {
	margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 10px !important;
}
.whole-container *{
    /* margin: 0 ;
    padding: 0; */
    font-family: inherit;
}

.whole-container a{
    text-decoration: none !important;

    margin: 0;
}
.whole-container a:active, .whole-container a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.whole-container a:hover{
    text-decoration: none;
}
 .whole-container p{
     padding: 0;
     /* margin: 0; */
     color: #000;
 }
 .whole-container h4{
     margin: 0;
     margin-bottom: 10px;
     padding: 0;
     font-size: 16px;

 }



 .post-content p, .search-results p, .main-content-wrapper p{
     color: #000 !important;
 }
/*############################## RESULT ###################*/
.item{
    margin-bottom: 20px !important;
    /* height: 220px !important; */
    border-radius: 6px !important;
    /*-padding-right: 10px !important; */
    box-shadow: 0px 10px 25px 0 rgb(0,0,0,0.15) !important;
	position: relative !important;
}

.item:hover{	
	box-shadow: 0px 10px 25px 0 rgb(0,0,0,0.20) !important;
}

.item:hover .name{
	color: #000 !important;
}
.fav_icon:hover{
	background-color: #000;
}
.dirpro-list-img{
    width: 35% !important;
    height: 100% !important;
    float: left;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    overflow: hidden !important;
    position: relative !important;
}
/*
.dirpro-list-img{
  
    width: 40% !important;
    height: 100% !important;
    float: left;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    overflow: hidden !important;
    position: relative !important;
}
*/
.fav-heart{
    z-index: 2;
    position: absolute;
    top: 13px;
    right: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}

.img{
      border-top-left-radius: 6px;     
      border-bottom-left-radius: 0 !important;
      height: 160px !important;
      margin: 0 !important;
  }

.feature-text{
    position: absolute !important;
    top: 15px !important;
    left: 15px !important;
    background: green !important;
    z-index: 2 !important;
		color: #fff !important;
		border-radius: 2px !important;
		font-size: 10px !important;
		padding: 4px 7px 3px !important;
		text-transform: capitalize !important;
		margin-bottom: 5px !important;
		line-height: 11px !important;
		font-weight: 700 !important;
		height: 18px !important;
		background-color: #54c4d9 !important;
}


.list-content{
    width: 65%;
    height: 100%;
    float: right;
    padding: 20px 0;
}

.clearboth{
    clear: both;
}

.star-icons i{
    color: #000;
}

.name{
    font-size: 16px;
    font-weight: 900;
    color: #000 !important;
    text-transform: capitalize !important;
    letter-spacing: 0 !important;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    max-height: 43px;
    margin: 0 auto;
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-content .tags{
    font-size: 14px !important;
    font-weight: 300 !important;
    max-width: 100%;
		margin-bottom: 10px;
}
.category{
    font-size: 14px !important;
    font-weight: 300 !important;
}
.tags i{
    color: #000 !important;
}
.category i{
    color: #9f9f9f !important;
}
.fav_icon{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	
	height: 40px;
	width: 40px;
	border-radius: 6px;
	text-align: center;
	line-height: 40px;
}
.fav_icon:hover{
	cursor: pointer;
}
.fav_icon i{
	color: #fff;
	font-size: 20px;
}
.author-star{

    margin: 10px 0 10px 0 !important;
    font-size: 14px !important;
    line-height: normal !important;
}

.client-contact{
    margin: 10px 0 !important;
}
.number{
    background: transparent;
    border: none;
    font-weight: 700;
	
}

.call, .email, .sms, .mcall,.details,.web{
    border: 1px solid gray;
    padding: 5px 18px;	
    border-radius: 3px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px !important;
}
.sms{
    background: gray;
}
.mcall{
    display: none;
    background: gray;
    border: 1px solid gray;
}
.sms{
    display: none;
}
.mcall a, .sms a{
    text-decoration: none;
}

.details a, .web a {
	color: #000 !important;
}

.client-contact .call{
    background: gray;
    color: #fff;
    border: 1px solid gray;
}
.client-contact span:hover{
    cursor: pointer;
}

.bootstrap-tagsinput{

    width: 100% !important;
    min-height: 40px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    font-size: 15px !important;
    outline-color: blue;

    margin: 0 !important;
    padding: 0 !important;
}
.bootstrap-tagsinput .label{

}
.bootstrap-tagsinput input{
    min-width: 239px !important;
    min-height: 40px !important;

    font-size: 14px !important;
    border: 0px solid #fff !important;
}


.label-info{
    background: #ddd !important;
    color: #000 !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin-left: 20px !important;
}
.tt-input{
    width: 100% !important;
    margin: 0 !important;
}

.tt-dataset{
    background: #fff;
}

.tt-suggestion{
    border-top: 1px solid #eee !important;
    width: 250px !important;

    padding: 10px 25px;
    cursor: pointer;
    color: #000;
}
.tt-suggestion:hover{
    background: #eee;
}

#showmorebutton{
    padding: 10px 25px !important;

    background: gray;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#showmorebutton:hover{
    background: gray;
    cursor: pointer;
}



/*############################# FACET SEARCH ######################################*/
.facet-parent{
    margin-top: 80px;
    padding: 0;
    position: static !important;
    border-radius: 6px !important;

}


.result-parent{
    padding-right: 0 !important;
    padding-bottom: 30px !important;
}
 #results{

    margin-top: 80px;
}
#facets{
    padding: 20px 0;
}


.facettitle{
    padding: 0 !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    line-height: 30px !important;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.down{
    visibility: visible;
    margin: 0 !important;
}

.up{
    visibility: hidden;
    margin-left: -15px !important;
}


.bottomline-parent{
    position: relative !important;

}

.facettotalcount, .orderby, .bg{

    position: absolute !important;
    top: 0 !important;
}

.bg{

    left: 0 !important;
    height: 70px !important;
    width: 100% !important;
    z-index: 1 !important;

}

.orderby{
    right: 20px !important;
    z-index: 2 !important;
    padding-top: 10px !important;
}
.facettotalcount{
    left: 20px !important;
    z-index: 2 !important;
    color: #000 !important;
    padding: 10px 20px !important;

    margin-top: 10px !important;
    border-radius: 3px !important;
    font-size: 14px !important;
}

.dropdown-toggle, .dropdownMenu2, button {
	width: 133px !important;
    position: relative;
}

.dropdown-toggle::after {
	content: " ";

}

.orderbyitem{
    padding-left: 20px;
}

.orderbyitem:hover{
    cursor: pointer;
}

.deselectstartover{

    padding: 10px 25px;
    background: gray;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px !important;
    cursor: pointer;
	border-radius: 3px !important;
}
.deselectstartover:hover{
    cursor: pointer;
}

input[type=checkbox] {

    padding: 0 !important;

    margin-right: 5px !important;
}

.facetitem{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0 !important;
    height: 20px;
    display: flex;
    align-items: center;
}
.facetitem:hover{
    cursor:pointer;
}

.activeorderby, .activefacet {
       color: gray !important;
       font-weight: 700 !important;
}

.activefacet input[type="checkbox"] {
	display: none !important;
}

.activefacet .tick::before {
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   content: "\f14a";
   margin-right: 4px !important;
 }

 input{
     width: auto !important;
 }
 .search-box{
     outline: none !important;
     border: 0 !important;
 }
.input-box{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.icon{
    border:1px solid rgba(0,0,0,0.2);
    height: 40px;
    width: 40px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="text"]{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    height: 40px !important;
    width: 100% !important;
    font-size: 14px !important;
}
input[type="submit"]{
    background: gray !important;
    border: none !important;
    height: 40px !important;
    width: 100% !important;
    color: #fff !important;
    text-transform: capitalize !important;
    padding: 5px !important;
    margin-top: 10px !important;
    font-size: 14px !important;
}
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  font-size: 20px;
}

/* align glyph */
.left-addon .glyphicon{
    left:  0px;
    padding: 5px 5px;
}
.right-addon .glyphicon{
    left: 0px;
    padding: 5px 5px !important;
}

/* add padding  */
.left-addon input{
    padding-left:  30px !important;
    margin: 0 !important;

}
.right-addon input{
    padding-left: 26px !important;

}

.facetlist{

    overflow-y: scroll;
    max-height: 180px;
    width: 100%;
    display: none;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 0;
}

#category .facetlist{
    display: block;
}




.tt-input{

}
.facettitle:hover{
    cursor: pointer;
}


.facetlist::-webkit-scrollbar {
    width: 12px !important;
}

/* Track */
.facetlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.facetlist::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: gray;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.facetlist::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}

.image-overlay .image-overlay-inside {
	height: ;
	width: ;
	position: ;
	left:  ;
	top: ;
}

.image-overlay{
    display: block !important;
}
#dropdownMenuButton{
    background: gray !important;
    color: #fff !important;
    font-size: 14px !important;
    border: none !important;
}
.orderby ul{
    list-style: none !important;
    font-size: 14px !important;
}
.orderby ul li{
    width: 100% !important;
    font-size: 14px !important;
}

.filter{
    background: #eee;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
    text-transform: capitalize;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.bootstrap-tagsinput .tag [data-role="remove"]{
    margin-left: 0 !important;
}

.bootstrap-tagsinput .tag [data-role="remove"]::after {
	content: "X";
    position: absolute;
    top:5%;
    left: 90%;
    font-size: 18px;
    font-weight: 500;
    color: #c3c3c3;
}


@media (min-width: 481px) and (max-width: 767px) {
    .result-parent{
        padding-left: 0 !important;

    }
    .item{
        height: auto !important;
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: 20px !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
  .result-parent{
      padding-left: 0 !important;
  }
  .item{
      height: auto !important;
      padding: 0 !important;
      margin: 0 !important;
      margin-bottom: 20px !important;
  }
	.fav_icon{
		position: absolute;
		left: 10px;
		top: 20px;
		transform: translateY(0);
		background: #9A9A9A;
		height: 30px;
		width: 30px;
		border-radius: 5px;
		text-align: center;
		line-height: 30px;
	}
  /* .dirpro-list-img{
      width: 100% !important;
      float: none !important;
  }

  .list-content{
      width: 100% !important;
      float: none !important;
  }

  .dirpro-list-img{
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 0 !important;
  }*/
  .img{
      margin-left: 10px;
  }
  .call{
      margin-right: 0;
  }
  .client-contact a{
      text-decoration: none;
      color: #fff;
  }
  .filter{
      visibility: visible;
  }
  #facets{
      display: none;
  }
  .facet-parent{
      padding-bottom: 20px;
  }

  .facettotalcount{
      display: block !important;
      font-size: 14px !important;
  }
  .call{
      display: none;
  }
  .number{
      display: none;
  }
  .mcall{
      display: block;
  }
  .sms{
      display: block;
  }

  .client-contact{
      display: flex;
      justify-content: space-between;
  }

}


.ui-autocomplete-input-has-clear {
  padding-right: 30px;
}

.ui-autocomplete-input-has-clear::-ms-clear {
   display: none;
}

.ui-autocomplete-clear {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;
}


.off-white{
    color: gray !important;
}

.half-off-white{
    color: gray !important;
}


/* tweenty sixteen dropdown caret size  */
.dropdown-toggle::after {
	border: 0 solid #d1d1d1;
	border-left-width: 1px;
	content: "\f431";
	font-size: 24px;
	left: 0;
    top: 6px;
	position: relative;
    width:  10px !important;
}
.blankp{
	height: 20px;
}



/******************** auto complete of listing 5  ************* */
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #fff !important;
	color: #222222;
    z-index: 2222222222;
    height: 250px;
    overflow: scroll;
    font-size: 10px;
}

.ui-widget {

	font-size: 1.1em;
}

.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	float: left;
}

.ui-autocomplete {
	position: relative !important;
	cursor: default;
}

.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
    font-size: 13px;
}

.ui-autocomplete-category{
    font-size: 14px;
    font-weight: 700;
}


/*############ mobile landscape ################ */

@media (min-width: 481px) and (max-width: 812px) {
    .result-parent{
        padding-left: 0 !important;
    }
    .item{
        height: auto !important;
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: 20px !important;
    }
    /* .dirpro-list-img{
        width: 100% !important;
        float: none !important;
    }

    .list-content{
        width: 100% !important;
        float: none !important;
    }

    .dirpro-list-img{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0 !important;
    }
    .img{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0 !important;
        height: 200px !important;
        margin: 0 !important;
    } */
    .call{
        margin-right: 0;
    }
    .client-contact a{
        text-decoration: none;
        color: #fff;
    }
    .filter{
        visibility: visible;
    }
    #facets{
        display: none;
    }
    .facet-parent{
        padding-bottom: 20px;
    }

    .facettotalcount{
        display: block !important;
        font-size: 14px !important;
    }
    .call{
        display: none;
    }
    .number{
        display: none;
    }
    .mcall{
        display: block;
    }
    .sms{
        display: block;
    }

    .client-contact{
        display: flex;
        justify-content: space-between;
    }

}
