/*  11. Pricing Table
/*----------------------------------------*/
.pricing-table-content{
	background-color:transparent;
}
.fitness-banner {
    margin-top: 127px;
}

.bn-line {
    width: 258px;
    height: 1px;
    background: #626262;
    margin-top: 22px;
}

.banner-title-area {}

.banner-title-area h1 {
    font-size: 40px;
    font-weight: 600;
    color: #252525;
    margin-bottom: 25px;
}

.banner-title-area p {
    font-size: 13px;
    color: #494949;
    margin-bottom: 50px;
}

.banner-section {
    overflow: hidden;
}

.banner-item {
    width: 465px;
    position: relative;
    margin: auto;
    margin-bottom: 28px;
}

.banner-item::before {
    content: '';
    position: absolute;
    width: 440px;
    height: 25px;
    background: #f13b3e;
    bottom: -10px;
    left: 0;
    z-index: -1;
    border-radius: 9px;
    box-shadow: 1px 5px 10px #988f8f;
}

.banner-item img {}

.banner-info {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 305px;
}

.logo-img {
    display: inline-block;
    height: 68px;
    width: 68px;
    line-height: 57px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 12px;
}

.logo-img img {}

.banner-info p {
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.05em;
    margin-bottom: 9px;
    line-height: 14px;
}

.banner-info h1 {
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 19px;
}

.banner-info h4 {
    color: white;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 10px;
    margin-top: 12px;
}

.banner-info h4 i,
.banner-info p.phone i {
    font-size: 16px;
    color: #f13b3e;
    padding-right: 5px;
}

.banner-info p.phone {
    font-size: 10px;
    font-weight: 400;
    color: #6a6a6a;
    background: white;
    border-radius: 33px;
    line-height: 37px;
    height: 34px;
    width: 127px;
    margin: auto;
    margin-top: 24px;
    font-family: 'Montserrat', sans-serif;
}

.banner-info p.phone i {}

.banner-info a.website {
    font-size: 8px;
    color: white;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-top: 18px;
    display: inline-block;
    line-height: 10px;
}


/* pricing plan*/

.banner-btm-title h1 {
    font-weight: 600;
    margin-bottom: 30px;
}

.banner-btm-title p {
    font-size: 13px;
    color: #5c5c5c;
    margin-bottom: 75px;
}

.pricing-plan-area {
    padding: 63px 0 75px;
    background: #fff;
}

.pricing-plan-head {
    margin-bottom: 72px;
    text-align: center;
}

.pricing-plan-head p {}

.pricing-plan-head h2 {}

.single-pricing {
    box-shadow: 0 2px 24px 0 rgb(144, 144, 144, 0.2);
    text-align: center;
}

.pricing-head {
    background: #f7f7f7 none repeat scroll 0 0;
    padding: 31px 0 28px;
    position: relative;
}

.pricing-head::after {
    background: #eb3a3d none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 34px;
}

.pricing-head .pricing-price {
    color: #303030;
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 9px;
}

.pricing-head .pricing-price span {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.pricing-head .pricing-time {
    color: #303030;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

.pricing-body {
    padding: 26px 30px 9px;
    background: white;
}

.pricing-body .short-desc {
    color: #303030;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

.pricing-details {
    margin-bottom: 47px;
}

.single-pricing-details {
    margin-bottom: 17px;
}

.single-pricing-details:last-child {
    margin-bottom: 0;
}

.single-pricing-details .spd-left {
    float: left;
    padding-right: 15px;
    text-align: right;
    width: 30%;
}

.single-pricing-details .spd-left i {
    color: #303030;
    font-size: 20px;
}

.single-pricing-details .spd-right {
    float: left;
    padding-left: 5px;
    text-align: left;
    width: 70%;
}


.single-pricing-details p {
  color: #676767;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  padding-top: 2px;
  text-transform: uppercase;
}


.single-pricing-details span {
    color: #676767;
    display: block;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 12px;
    text-transform: uppercase;
}

.pricing-buy-now {
    background: #e53c35 none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 6px;
    padding: 5px 42px;
}

.pricing-buy-now:hover {
    color: #fff;
}

.short-desc-bottom {
    color: #4f4f4f;
    font-size: 12px;
}

.special-single-price .pricing-head::before {
    background-image: url("../css/images/price-tag.png");
    background-repeat: no-repeat;
    content: "";
    height: 42px;
    position: absolute;
    right: 30px;
    top: 0;
    width: 26px;
}



/*----------------------------------------*/
/*2.8 pricing plan*/

.pricing-plan-area {
    padding: 63px 0 75px;
}

.pricing-plan-head {
    margin-bottom: 72px;
    text-align: center;
}

.pricing-plan-head p {}

.pricing-plan-head h2 {}

.single-pricing {
    box-shadow: 0 2px 24px 0 rgba(144, 144, 144, 0.2);
    text-align: center;
}

.pricing-head {
    background: #f7f7f7 none repeat scroll 0 0;
    padding: 31px 0 28px;
    position: relative;
}

.pricing-head::after {
    background: #eb3a3d none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 34px;
}

.pricing-head .pricing-price {
    color: #303030;
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 9px;
}

.pricing-head .pricing-price span {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.pricing-head .pricing-time {
    color: #303030;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

.pricing-body {
    padding: 26px 30px 9px;
}

.pricing-body .short-desc {
    color: #303030;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

.pricing-details {
    margin-bottom: 47px;
}

.single-pricing-details {
    margin-bottom: 17px;
}

.single-pricing-details:last-child {
    margin-bottom: 0;
}

.single-pricing-details .spd-left {
    float: left;
    padding-right: 15px;
    text-align: right;
    width: 30%;
}

.single-pricing-details .spd-left i {
    color: #676767;
    font-size: 20px;
}

.single-pricing-details .spd-right {
    float: left;
    padding-left: 15px;
    text-align: left;
    width: 70%;
}



.single-pricing-details span {
    color: #676767;
    display: block;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 12px;
    text-transform: uppercase;
}

.pricing-buy-now {
    background: #e53c35 none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 6px;
    padding: 5px 42px;
}

.pricing-buy-now:hover {
    color: #fff;
}

.short-desc-bottom {
    color: #4f4f4f;
    font-size: 12px;
}

.special-single-price .pricing-head::before {
    background-image: url("../css/images/price-tag.png");
    background-repeat: no-repeat;
    content: "";
    height: 42px;
    position: absolute;
    right: 30px;
    top: 0;
    width: 26px;
}

.pricing-container {
    margin-top: 140px;
}


.pricing-head .pricing-time {
    margin: 0;
}

.pricing-buy-now {
    margin-bottom: 15px;
}
.pricing-buy-now:hover {
    color: #fff;
}

 

