.title-job a {
  color: #383838;
  box-shadow: none;
  text-decoration: none !important;
}

.title-job a:hover, .title-job a:focus {
   color: #000000; 
  text-decoration: none;
}
.contentshowep {   
    border: 1px solid #eee; 
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 8%);
}
#popup-contact .form-control {
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0 !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.candidate_intro h4, .candidate h4, .company_info h4{
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
}
.candidate_intro *,
.candidate_intro p,
.candidate_intro i,
.candidate_intro span
.candidate h5{
    font-size: 16px;
}
.candidate_intro .candidate_details_wrapper{
    /* background: #eee; */
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.candidate_intro .candidate_img{
    width: 20%;
}
.candidate_intro .candidate_img img{
    width: 85px;
    height: 85px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.candidate_intro .candidate_details{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.candidate_intro .candidate_details .primary_intro{
    width: 70%;
}
.candidate_intro .candidate_details .candidate_cv{
    width: 30%;
}
.candidate_intro .candidate_details .candidate_designation i{
    color: #63ba16;
}
.candidate_details .candidate_contact span{
    color: #9f9f9f;
}
.candidate_contact .email{
    margin-left: 10px;
}
.download_btn a{
    background: #63ba16;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    padding: 10px 10px;
}
.download_btn a i{
    font-size: 14px;
    color: #000;
}
.candidate_cv a:hover{
    color: #fff;
    text-decoration: none;
}
.candidate_cv a:hover .font-white{
    color: #fff;
}

.fav_btn{
    margin-left: 10px;
}
.fav_btn a{
    text-decoration: none;
    padding: 10px 10px;
    background: #eee;
    font-size: 14px;
}

.fav_btn a i{
    font-size: 14px;
    color: #000;
}

.fav_btn a:hover{
    background: #e83e8c;
    text-decoration: none;
}
.fav_btn a:hover .font-white{
    color: #fff;
}
.company_progress p:first-child{
    color: #000;
    font-size: 16px;
}
.company_progress p:nth-child(2){
    color: #9f9f9f;
    font-size: 16px;
}
.company_progress .progress{
    height: 5px;
    margin-top: 5px;
}
.company_progress .progress .progress-bar{
    background: #63ba16;
}
.company_progress_border{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
}
.education_details{
    display: flex;
    padding: 20px 0;
}
.education_details .college_logo{
    width: 20%;
}
.education_details .college_details{
    width: 80%;
}
.education_details .college_logo img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.education_details .college_details .college_time,
.education_details .college_details .college_short_desc{
    color: #9f9f9f;
    font-size: 1rem;
}
.education_details .college_details .college_name span{
    color: #63ba16;
}
.personal_skill .tags a {
    text-decoration: none;
	display: inline-block;
	background-color: #f1f1f1;
	border-radius: 3px;
	-webkit-transition: all .3s;
	transition: all .3s;
	margin: 0 5px 5px 0;
	padding: 4px 10px;
	color: #9f9f9f;
	font-weight: 600;
}
.personal_skill .tags a:hover{
    color: #fff;
    background-color: #63ba16;
}

.work_feedback{
    /* border: 1px solid red; */
}
.work_feedback .feedback_details .feedback_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.feedback_details .feedback_header .header h5{
    font-size: 16px;
}
.feedback_details .feedback_header .header p{
    color: #9f9f9f;
}
.feedback_details .feedback_header .rating p i{
    color: #ffb13c;
}
.feedback_details .feedback_desc p{
    color: #9f9f9f;
    text-align: justify;
}
.company_info p .bold-font{
    font-weight: 600;
}
.company_info p .color-light{
    color: #9f9f9f;
}
.company_info p .color-light i{
    color: #ffb13c;
}
.company_info .btn-light-green {
	background-color: #63ba16;
	border-color: #63ba16;
	color: #fff;
}
.share_link{
    display: flex;
    justify-content: space-between;
}
.share_link a {
    text-decoration: none;
}
.share_link a:hover {
    text-decoration: none;
}
.share_link a:hover i {
    color: #63ba16;
}
.share_link a i{
    font-size: 35px;
    color: #9f9f9f;
}

@media (min-width: 320px) and (max-width: 480px) {
    .candidate_intro .candidate_details_wrapper{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .candidate_intro .candidate_img{
        width: 100%;
        text-align: center;
    }
    .candidate_intro .candidate_details{
        width: 100%;
        flex-direction: column;
    }
    .candidate_intro .candidate_details .primary_intro{
        width: 100%;
        text-align: center;
    }
    .candidate_intro .candidate_details .candidate_cv{
        width: 100%;
        justify-content: center;
        margin-top: 15px;
    }
    .work_feedback .feedback_details .feedback_header{
        flex-direction: column;
    }

}
