body{
    font-family: 'Quicksand', sans-serif;
}

.advance_search #inputState,.advance_search input[type="text"],.advance_search button[type="submit"], .agent-info, .cbp-filter-item, .cbp-l-dropdown-header, .cbp-l-dropdown-item, .cbp-l-grid-projects-title, .main-container, #catagories, #destination, .cities_title, #slider-search, .whole-container, h1,h2,h3,h4,h5,h6,p, input[type], textarea, .bootstrap-tagsinput, input[type="text"], input[type="submit"], .left-addon input, .right-addon input, .tt-input, .ui-widget, .cbp-search-select, .archieve-page{
    font-family: 'Quicksand', sans-serif !important;
}

::placeholder{
    font-family: 'Quicksand', sans-serif !important;
}

