.displaynone{
	display: none;
}
.form-error{
	padding-left: 5px;
	color:red;
}
.user_info{	
	padding-top: 20px;
	border-radius: 3px;
	margin-bottom: 3px;
}
.header-profile{
	padding: 10px 0;
}
.payment_info{
	padding: 20px 0;	
}

#iv-form3 .user_info .form-control{
	height: 40px;
}
#iv-form3 .user_info input[type]:not(input[type='radio']){
	height: 40px;
}
.light-bg{
	background: #F0F0F0;
}

#jobboard_registration .form-control {
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0 !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Styles that are also copied for Preview */
.none{display: none;)
.vcenter{
		display : table-cell;
		vertical-align : middle !important;
		float:none;
	}
	.chili{color:red}
	.chili:before{content:" *"}
  #iv-form3 h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    margin-top: 0;
  }
  #iv-form3 h1 span{
    font-weight: 100;
  }
  .dark-txt{color:#333}
  #iv-form3 h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    line-height: 50px;
    padding-bottom: 0;
    font-size: 45px;
  }
  #iv-form3 h3 {
  font-family: Oswald;
  font-weight: normal;
  font-style: normal;
  line-height:normal
  }
  #iv-form3 p{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #575757;
    font-weight: 400;
    line-height: 22px;
  }
  #iv-form3 label{ font-weight:normal;font-size:15px; color:#666}
	#iv-form3 .form-control{ color:#222}
	#iv-form3{ max-width:960px}
